
@{
    ViewBag.Title = "Gestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Página de Administración</h2>

<table class="admin-table" id="tabla-productos">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <!-- Se llenará con JS -->
    </tbody>
</table>
<script src="~/Scripts/AdminScripts.js" asp-append-version="true"></script>
