@{
    ViewBag.Title = "Gestión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gestion-container">
    <h2>Panel de Administración</h2>
    <div class="botones-gestion">
        <a href="@Url.Action("Producto", "Admin")" class="boton">Productos</a>
        <a href="@Url.Action("Factura", "Admin")" class="boton">Facturas</a>
        <!--
    <a href="@Url.Action("Usuario", "Admin")" class="boton">Usuarios</a>
        -->
    </div>
</div>

