
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<head>
    <link rel="stylesheet" href="~/Styles/NewStyles.css" asp-append-version="true" />
</head>

<section class="quienes-somos-section">
    <div class="quienes-somos-header">
        <h2>¿Quiénes somos?</h2>
    </div>

    <div class="nosotros-carousel">
        <div class="nosotros-images">
            <img src="~/images/nosotros/perroygato.png" alt="Perro y Gato" />
            <img src="~/images/nosotros/varPets2.png" alt="Varios Mascotas 2" />
            <img src="~/images/nosotros/varPets.png" alt="Varios Mascotas 3" />
        </div>
    </div>

    <div class="quienes-somos-description">
        <h3>
            Somos una tienda de mascotas ubicada en Quito, sector La Floresta.<br>
            Amantes de los animales y del bienestar de nuestros peluditos.
        </h3>
    </div>

    <div class="custom-video-player">
        <video id="video" src="~/videos/VideoFinPerros.mp4" poster="~/images/logoPawsTails-noFondo.png"></video>
        <div class="controls">
            <button id="playPause">▶️</button>
            <input id="seekBar" type="range" min="0" value="0" step="1">
            <button id="mute">🔇</button>
            <button id="fullscreen">⛶</button>
        </div>
    </div>
</section>


